#blackjackContainer {
    background-image: url(../img/background.jpeg);
    padding: 3em;
}

#top_chips{
    width: 35%;
    color: #222;
    z-index: 10;
    background-color: rgba(248, 250, 248, 0.849);
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0 0 20px;
    padding: 0.5em;
}

#top_chips.top_chips_locked_bet {
    text-align: right;
}

#player_count {
    text-align: center;
}

#dealer_count {
    text-align: center;
}

.chip_container{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    padding: 2em 0.5em;
	background: #b3eca9;
	color: #306517;
    border: #222;
	border-color: #2d2d2d;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0 0 20px;
}

.chip_img {
    height: auto;
    width: auto;
    max-width: 8em;
    padding-left: 1em;
    cursor: pointer;
}

#play_buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
}

.play_button {
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: #222;
    background: linear-gradient(0deg, rgba(20,160,60,1) 0%, rgba(100,250,110,1) 100%);
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    margin: 0.5em auto;
}

.play_button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #0c652698;
}

.play_button:active {
    box-shadow: 0 0.3em 1em -0.5em #0c652698;
}

.bet_button_container {
    width: 20%;
    text-align: center;
    margin: 0.5em auto;
    margin-bottom: 2em;
    padding: 1em 1em;
    background-color: #eaedf1;
    vertical-align: middle;
    box-shadow: 0 0 10px;
    border-radius: 4px;
}

.bet_button_container > p {
    color: #222;
}

.bet_button {
    display: flex;
    font-weight: 500;
    font-size: 1em;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: #222;
    background: linear-gradient(0deg, rgba(20,160,60,1) 0%, rgba(100,250,110,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    margin: 0.5em auto;
}

.bet_button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #0c652698;
}

.bet_button:active {
    box-shadow: 0 0.3em 1em -0.5em #0c652698;
}