#home > p > a {
    color: #EEE0CB;
    font-weight: 500;
}

#home {
    position: absolute;
    z-index:-2;
}

#home > h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 200;
    font-style: italic;
    /* font-family: 'Marker Felt'; */
}

#home > h3 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    background-color: #EEE0CB;
    padding: 1.5rem;
    border: grey solid 1px;

}

#home > h3#about-us {
    position: relative;
    z-index: -2;
    margin-top: 23.7rem;
    text-align: center;
    margin-bottom: 2rem;
    border: grey solid 1px;
}

#home > p {
    z-index: -2;
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;
    background-color: #2F9318;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2rem;
    border: #d12d36 solid 5px;
    border-radius: 20px;
    margin-bottom: 3rem;
    color: white;
    box-shadow: 0px 0px 20px black;
}

/* #feedback-form {
    margin-bottom: 3rem;
} */