.slider-container {
    background-color: #2F9318;
    position: absolute;
    z-index: -2;
    margin-top: 2rem;
    padding: auto;
    width: 100%;
}

div .items {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    scroll-behavior: smooth;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: -1;
}

div.control-container {
    height: 250px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.item .coming-soon {
    display: none;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 2;
    width: 150px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    padding-top: 1rem;
}
.item:hover .coming-soon {
    display: inline;
}

.item {
    position: relative;
    align-self: center;
    width: 200px;
    height: 400px;
    margin-left: 20px;
    margin-right: 40px;
    display: inline-block;
    /* background: url("../img/card-back.png") no-repeat ; */
}

.item:hover {
    transform: scale(1.1);
}

.item-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
}

.item-title:hover {
    color: #d12d36;
}

#blackjack-link {
    text-decoration: none;
    color: black;
}


.item img.item-image {
    width: 200px;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
    padding-top: 1rem;
}

#left-scroll-button {
    font-size: 5rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    color: black;
}

#left-scroll-button:hover {
    color: #d12d36;
}

#right-scroll-button {
    font-size: 5rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    color: black;
}

#right-scroll-button:hover {
    color: #d12d36;
}

div.left-scroll {
    left: 0;
    top: 50%
}

div.right-scroll {
    right: 0;
    top: 50%
}   

.left-scroll > i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -55%);
    /* z-index: 3; */
}

.right-scroll > i {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(-35%, -55%);
    /* z-index: 3; */
}

.sign-in-message {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    color: #EEE0CB;
}
    