.slider-container {
    background-color: #2F9318;
    position: absolute;
    z-index: -2;
    margin-top: 1.5rem;
    padding: auto;
    padding-top: 10px;
    width: 100%;
    outline: #d12d36 solid 5px;

}

div .items {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    scroll-behavior: smooth;
    padding-top: 1rem;
    padding-bottom: 0rem;
    position: relative;
    z-index: auto;
}

div.control-container {
    height: 187px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: auto;

}

.item .coming-soon {
    display: none;
    position: absolute;
    top: 0;
    left: 19px;
    z-index: auto;
    width: 115px;
    height: 230px;
    -o-object-fit: contain;
    object-fit: contain;
    padding-top: 0.75rem;
}
.item:hover .coming-soon {
    display: inline;
}

.item {
    position: relative;
    align-self: center;
    width: 150px;
    height: 300px;
    margin-left: 15px;
    margin-right: 30px;
    display: inline-block;
    z-index: auto;
    /* background: url("../img/card-back.png") no-repeat ; */
    transition: all 0.1s ease-in-out;

}

.item:hover {
    transform: scale(1.1);
}

.item:hover .item-title{
    color: #d12d36;
}

.item-title {
    font-size: 1.75rem;
    font-family: 'Marker Felt';
    font-weight: 300;
    text-align: center;
    padding: 0.39rem;
    cursor: pointer;
    color: black;
}

#blackjack-link {
    text-decoration: none;
    color: black;
}

.item-image {
    width: 150px;
    height: 225px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;


}

#left-scroll-button {
    font-size: 4.25rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    color: black;
    z-index: 2;
}

#left-scroll-button:hover {
    color: #d12d36;
    cursor: pointer;
}


#chevron-left-fill {
    z-index: 0;
    width: 60%;
    height: 40%;
    background-color: #d12d36;
    position: absolute ;
    transform: translate(120%, 90%);
    transition: all 0.3s ease-in-out;

}

#left-scroll-button:hover #chevron-left-fill {
    background-color: black;
}


#right-scroll-button {
    font-size: 4.25rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    color: black;
    z-index: 2;
}

#right-scroll-button:hover {
    color: #d12d36;
    cursor: pointer;
}

#chevron-right-fill {
    z-index: 0;
    width: 60%;
    height: 40%;
    background-color: #d12d36;
    position: absolute ;
    transform: translate(-50%, 90%);
    transition: all 0.3s ease-in-out;

}

#right-scroll-button:hover #chevron-right-fill {
    background-color: black;
}
div.left-scroll {
    left: 0;
    top: 50%
}

div.right-scroll {
    right: 0;
    top: 50%
}   

.left-scroll > i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -55%);
    z-index: auto;
}

.right-scroll > i {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(-35%, -55%);
    z-index: auto;
}


.sign-in-message {
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    padding: 0.4rem;
    color: white;
}
    