#stats-container {
    color: black;
    padding: 0rem;
    /* margin: 5rem; */
    background-color: rgb(255, 248, 240);
    z-index: 9;
    position:relative;
}

#stats-content {
    background-color: #ffffff;
    /* margin: 2rem; */
}

#stats-heading {
    text-align: center;
    font-weight: 1000;
    font-size: 2.5rem;
    /* padding-top: 2rem; */
    margin-top: 2rem;
    padding:1rem;
    background-color: #eee0cb;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#stats-dropdown {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#stats-select {
    margin: 1rem;
    padding:3px;
    padding-left:7px;
    background-color: #eee0cb;
    color: #644276;
    /* outline-color: #2F9318;
    outline-width: 7px;
    outline-style: solid; */
    border-radius: 15px;
}


#stats-body {
    text-align: left;
    font-size:20px;
    width: 100%;
    background-color: #eee0cb;
    border: 1px solid black;
    
}

#blackjack-stats-body {
   width:50%;
   margin-top: 1rem;
   margin-bottom: 3rem;
   margin-left: auto;
   margin-right: auto;
}

#blackjack-heading {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 2rem;
}

