#stats-container {
    color: black;
    padding: 0rem;
    /* margin: 5rem; */
    background-color: rgb(255, 248, 240);
    z-index: 9;
    position:relative;
}

#stats-content {
    background-color: #ffffff;
    /* margin: 2rem; */
}

#stats-heading {
    text-align: center;
    font-weight: 1000;
    font-size: 2.5rem;
    /* padding-top: 2rem; */
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding:1rem;
    background-color: forestgreen;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #eee0cb;
   
    
}

#stats-dropdown {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#stats-select {
    margin: 1rem;
    padding:3px;
    padding-left:7px;
    /* background-color: #eee0cb; */
    border: 0;
    color: rgb(27, 107, 27);
    /* outline-color: #2F9318;
    outline-width: 7px;
    outline-style: solid; */
    border-radius: 15px;
}


#stats-body {
    text-align: right;
    font-size:20px;
    width: 100%;
    background-color: #eee0cb;
    border: 5px solid #d12d36;
    border-left:none;
    border-right:none;
    
}

#blackjack-stats-body {
   width:100%;
   margin-top: 1rem;
   margin-bottom: 3rem;
   margin-left: auto;
   margin-right: auto;
   display:flex;
   flex-direction: row;
   justify-content: center;
}

#blackjack-stats-stats {
    width:40%;
}

#blackjack-stats-stats p {
    margin:0;
}

.stats-leaderboard {
    width: 40%;
}

#blackjack-heading {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 2rem;
}

