#dealer-cards, #player-cards {
  width: 30%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem; 

}

/* DEALER CARD 2 DIV */
#dealer-cards > .card:nth-of-type(2)  {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* DEALER CARD 2 DIV HOVER */
#dealer-cards > .card:nth-of-type(2):hover  {
  transform: rotateY(180deg);
  transform-origin: center;
}

/* DEALER CARD 2 FRONT */
#dealer-cards > .card:nth-of-type(2) > img:nth-of-type(2)  {
  transform: rotateY(180deg);
}

.card {
  width: 10rem;
  height: 14rem;
  /* background-color: aquamarine; */
}

.card-back,
.card-front {
   position: absolute;
   width: 10rem;
   height: 14rem;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}